<div class="row"><div class="col-xs-3 text-center"><img class="img-responsive img-circle" src="../images/profil.jpg" alt="me" width="100%"></div><div class="col-xs-8"><p class="lead">Hi! I am a PhD student in Psychology at the University of Basel. My studies are focused on Human-Computer Interaction, Statistical Methods, Gamification, and Human Motivation.</p><p>This is my personal website and a playground for my web-development projects.</p></div></div><!--<div ng-repeat="post in posts">
    <h2 class="page-header">{{post.title}}</h2>
    <div class="row">
        <div class="lead col-xs-12">{{post.lead}}</div>
    </div>
    <div class="row">
    <div class="col-xs-12" ng-bind-html="post.content">
    </div>
 </div>
    <p class="text-right">
     <span class="label label-info">posted on {{post.date}}</span>
     <!--<a href="{{post.id}}">Read more</a>
 </p> </div>-->